.kim
{
	border:none;
	padding:6px 0 6px 0;
	border-radius:50%;
	background:#478bf9;
	font:bold 13px Arial;
	color:#fff;
	margin-left: 440px;
	width:100px;
}

.donald
{
	border:none;
	padding:6px 0 6px 0;
	border-radius:50%;
	background:#478bf9;
	font:bold 13px Arial;
	color:#fff;
	width:100px;
	margin-left: 70px;
	width: 100px;
}

.manu
{
	border:none;
	padding:6px 0 6px 0;
	border-radius:50%;
	background:#478bf9;
	font:bold 13px Arial;
	color:#fff;
	width:100px;
	margin-left: 70px;
	width: 100px;
}
